<section class="accordion1 cid-qZ6QjEvSV6" id="accordion1-f">




    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="section-head text-center space30">
                    <h2 class="mbr-section-title pb-5 mbr-fonts-style display-4"><br>About Us</h2>
                </div>
                <div class="clearfix"></div>
                <div id="bootstrap-accordion_9" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title text-black collapsed" data-toggle="collapse" data-core="" href="#collapse1_9" aria-expanded="false" aria-controls="collapse1">
                                <h4 class="mbr-fonts-style display-5">
                                    <span class="sign mbr-iconfont inactive mbri-arrow-down"></span>
                                    What is HawkHover?
                                </h4>
                            </a>
                        </div>
                        <div id="collapse1_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_9" style="">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus maximus enim ante, in hendrerit turpis condimentum vitae. Morbi et elit sollicitudin, aliquam lectus lobortis, sodales enim. Aliquam erat volutpat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse2_9" aria-expanded="false" aria-controls="collapse2">
                                <h4 class="mbr-fonts-style display-5">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>Why HawkHover?</h4>
                            </a>

                        </div>
                        <div id="collapse2_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#bootstrap-accordion_9">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus maximus enim ante, in hendrerit turpis condimentum vitae. Morbi et elit sollicitudin, aliquam lectus lobortis, sodales enim. Aliquam erat volutpat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <a role="button" class="collapsed text-black panel-title" data-toggle="collapse" data-core="" href="#collapse3_9" aria-expanded="false" aria-controls="collapse3">
                                <h4 class="mbr-fonts-style display-5">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>How it works?</h4>
                            </a>
                        </div>
                        <div id="collapse3_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#bootstrap-accordion_9">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">For <strong>patrons</strong>:
<br>* Submit form<br>* You will be contacted by us<br>* Get matched with a pilot<br>* Get your pictures/videos!<br><br>For <strong>pilots</strong>:
<br>* Submit form&nbsp;<br>*  You will be contacted by us<br>* Get matched with a customer<br>* Get paid!</p>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>
