<% if @customer.acc_type == 'Patron' %>
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading"><%= @customer.first_name %>!</h4>
    <p>You have successfully submitted the form and we have recieved your order. Our team will process it and contact you as soon as possibile.</p>
  </div>
<% else %>
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading"><%= @customer.first_name %>!</h4>
    <p>You have successfully submitted the form and we have recieved your application to become a drone pilot. Our team will contact you as soon as possibile.</p>
  </div>
<% end %>
