<!-- pictures -->
<div id="carouselHomeIndicators" class="carousel slide cid-qZ6ONvWm7W" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#carouselHomeIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselHomeIndicators" data-slide-to="1"></li>
    <li data-target="#carouselHomeIndicators" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item slider-fullscreen-image active">
      <img class="d-block w-100" src="https://edge.alluremedia.com.au/m/g/2015/01/shutterstock_239734909_1080.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="mbr-fonts-style display-1"><br>Welcome</h2>
        <p class="lead mbr-text mbr-fonts-style display-5">DroneTensor is a network of certified drone pilots matched to people with commercial, and personal drone needs. Idle drone pilots can turn their passion into a regular revenue stream in new gig economy.</p>
      </div>
    </div>

    <div class="carousel-item slider-fullscreen-image">
      <img class="d-block w-100" src="https://cdn.cnn.com/cnnnext/dam/assets/180604164953-global-gateway-dubai-drone-economy-00010427.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="mbr-fonts-style display-1"><br>FULL SCREEN SLIDER</h2>
        <p class="lead mbr-text mbr-fonts-style display-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus maximus enim ante, in hendrerit turpis condimentum vitae. Morbi et elit sollicitudin, aliquam lectus lobortis, sodales enim. Aliquam erat volutpat.</p>
      </div>
    </div>

    <div class="carousel-item slider-fullscreen-image">
      <img class="d-block w-100" src="https://news2-images.vice.com/uploads/2017/04/AP_872817838482.jpg?crop=1xw:0.75xh;center,center" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="mbr-fonts-style display-1"><br>FULL SCREEN SLIDER</h2>
        <p class="lead mbr-text mbr-fonts-style display-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus maximus enim ante, in hendrerit turpis condimentum vitae. Morbi et elit sollicitudin, aliquam lectus lobortis, sodales enim. Aliquam erat volutpat.</p>
      </div>
    </div>

  </div>

  <a class="carousel-control-prev" href="#carouselHomeIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselHomeIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>

<div class = 'container'>

    <!-- form submission success message -->
    <% if @patron %>
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading"><%= @patron.first_name %>!</h4>
        <p>You have successfully submitted the form and we have recieved your order. Our team will process it and contact you as soon as possibile.</p>
      </div>
    <% elsif @pilot %>
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading"><%= @pilot.first_name %>!</h4>
        <p>You have successfully submitted the form and we have recieved your application to become a drone pilot. Our team will contact you as soon as possibile.</p>
      </div>
    <% end %>

    <br>
    <!-- pilot or patron selection -->
    <section class="mbr-section content8 cid-qZ6PrUisR0" id="content8-c">
        <div class="container">
            <div class="media-container-row title">
                <div class="col-12 col-md-8">
                    <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="<%= new_patron_path %>">Request for a pilot</a>
                        <a class="btn btn-black-outline display-4" href="<%= new_pilot_path %>">Request to be a pilot</a></div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials1 cid-qZ6NSocqhF" id="testimonials1-8">
        <div class="container">
            <div class="media-container-row">
                <div class="title col-12 align-center">
                    <h3 class="pb-3 mbr-fonts-style display-4">
                        OUR TEAM</h3>
                </div>
            </div>
        </div>

        <div class="container pt-3 mt-2">
            <div class="media-container-row">
                <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <div class="card-block">
                            <div class="testimonial-photo">
                                <img src="https://media.licdn.com/dms/image/C4D03AQFA_GQnn7Yw-w/profile-displayphoto-shrink_200_200/0?e=1537401600&v=beta&t=MIhSOPd990GeM-H3pQIV6xC1LwgEukgRZuY3-kWX3Kg">
                            </div>
                            <p class="mbr-text mbr-fonts-style display-7"></p>
                        </div>
                        <div class="card-footer">
                            <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                                 Behram Irani</div>
                            <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                                   Developer
                            </small>
                        </div>
                    </div>
                </div>

                <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <div class="card-block">
                            <div class="testimonial-photo">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlMfjgIW5-DCdisO8Mbsi2tvAa-y6qgDH5jS-jeozEFDo3vza8BA">
                            </div>
                            <p class="mbr-text mbr-fonts-style display-7"></p>
                        </div>
                        <div class="card-footer">
                            <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                                 Yawar Abbas</div>
                            <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                                   Founder</small>
                        </div>
                    </div>
                </div>

                <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <div class="card-block">
                            <div class="testimonial-photo">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlMfjgIW5-DCdisO8Mbsi2tvAa-y6qgDH5jS-jeozEFDo3vza8BA">
                            </div>
                            <p class="mbr-text mbr-fonts-style display-7"></p>
                        </div>
                        <div class="card-footer">
                            <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                                 Winston Devendrarajah</div>
                            <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                                   Founder</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
