<div class = 'container'>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C4D03AQFA_GQnn7Yw-w/profile-displayphoto-shrink_200_200/0?e=1537401600&v=beta&t=MIhSOPd990GeM-H3pQIV6xC1LwgEukgRZuY3-kWX3Kg" style="width:100%">
      <h1>Behram Irani</h1>
      <p class="title">Software Engineer</p>
      <p>McMaster University</p>
    </div>
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlMfjgIW5-DCdisO8Mbsi2tvAa-y6qgDH5jS-jeozEFDo3vza8BA" style="width:100%">
      <h1>Yawar Abbas</h1>
      <p class="title">Founder & Business?</p>
      <p>Ryerson University</p>
    </div>
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlMfjgIW5-DCdisO8Mbsi2tvAa-y6qgDH5jS-jeozEFDo3vza8BA" style="width:100%">
      <h1>Hafeez Khan</h1>
      <p class="title">Founder & Computer Science Student?</p>
      <p>Ryerson University</p>
    </div>
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlMfjgIW5-DCdisO8Mbsi2tvAa-y6qgDH5jS-jeozEFDo3vza8BA" style="width:100%">
      <h1>Winston Devendrarajah</h1>
      <p class="title">Founder & Computer Scientist?</p>
      <p>Ryerson University</p>
    </div>
  </div>

  <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
  <div id="main">
    <% if @patron %>
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading"><%= @patron.first_name %>!</h4>
        <p>You have successfully submitted the form and we have recieved your order. Our team will process it and contact you as soon as possibile.</p>
      </div>
    <% elsif @pilot %>
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading"><%= @pilot.first_name %>!</h4>
        <p>You have successfully submitted the form and we have recieved your application to become a drone pilot. Our team will contact you as soon as possibile.</p>
      </div>
    <% end %>

    <h1 class="cover-heading">Welcome</h1>
    <p class="lead">DroneTensor is a network of certified drone pilots matched to people with commercial, and personal drone needs. Idle drone pilots can turn their passion into a regular revenue stream in new gig economy.</p>
    <p class="lead">
      <a class="btn btn-lg btn-secondary" onclick="openNav()">Our Team</a>
    </p>
  </div>

</div>
